.App {
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height:100vh;
}

.Body{
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  color: #2d2d2d;
  overflow-y: scroll;
}
.Header{
  height:10vw;
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: linear-gradient(to right bottom, #1a4d8b, #208d52)
}
.SearchBar{
  width:85vw;
    height:40px;
    margin-right:5px;
    font-size: 20px;
}
.SearchButton{
  border:none;
  width:45px;
  height:45px;
  background-color: #208e52;
  color: #fff;
  margin-left:5px;
}
.Form{
display:flex;
margin-top: 20px;
justify-content: center;
align-items: center;
flex-direction: row;
}
