.item-container{
  display: flex;
  flex-direction: row;
}
.item-title{
  width: 30vw;
  padding: 20px;
  text-align: left;
  display:flex;
  align-items: center;
}
.item-description{
  width: 70vw;
  padding: 20px;
  text-align: left;
}
.star-on{
  color: #208e52;
}
.star-off{
  color: #a0a0a0;
}
